@charset "UTF-8";

:root{
    --cor1:#EDD3C4;
    --cor2: #C8ADC0;
    --cor3: #7765E3;
    --cor4: #3B60E4;
    --cor5: #080708;
}


*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(to right, var(--cor1), var(--cor2) ,var(--cor3));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section{
    background: linear-gradient(to left, var(--cor4), var(--cor5));
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10%;
    
}
article{
    background-color: var(--cor5);
    width: 100px;
    height: 100px;
    padding: 20px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
article:hover{
    padding: 30px;
    background: linear-gradient(to bottom, var(--cor1), 60% ,var(--cor5));
}
article:hover > a{
    color: white;
    text-shadow: 5px 4px 5px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}