* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    flex-direction: column;
}

#back {
    position: fixed;
    top: 10px; 
    left: 10px;
    z-index: 1000;
    cursor: pointer;
    max-width: 50px;
}

.conteiner {
    border: 1px solid;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.514);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    margin: 20px;
    width: 100%;
    max-width: 600px;
    position: relative;
    margin-top: 100px; }

.image h1 {
    font-size: 3em;
}

img {
    max-width: 90vw;
    max-height: 60vh;
    cursor: pointer;
    min-width: 150px;
    min-height: 150px;
    margin: 10px 0;
}

input[type="file"] {
    font-size: 0;
}

input[type="file"]::-webkit-file-upload-button {
    font-size: 15px;
}

input[type="color"] {
    display: none;
}

input[type="text"] {
    font-size: 15px;
    width: 100%;
}

#cor-label {
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    color: rgb(128, 36, 0);
    margin-bottom: 10px;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.514);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.formulario > * {
    margin: 3px;
}

span {
    width: 20px;
    height: 20px;
}

h1{
    text-align: center;
    font-size: 3em;
}
.hiden {
    display: none;
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }

    .formulario {
        width: 100%;
        padding: 20px;
    }

    #cor-label {
        font-size: 20px;
    }

    #back {
        max-width: 30px;
        top: 10px; 
        left: 10px; 
        position: fixed;
    }

    .conteiner, .image {
        width: 100%;
        height: auto;
    }

    .conteiner {
        padding: 20px;
        margin-top: 120px; }

    img {
        max-width: 100%;
        max-height: 50vh;
        margin: 10px 0; 
    }
}

@media (max-width: 400px) {
    body {
        flex-direction: column;
    }

    #cor-label {
        font-size: 18px;
    }

    .formulario input[type="text"],
    .formulario input[type="file"],
    .formulario input[type="submit"],
    .formulario input[type="reset"] {
        font-size: 14px;
    }

    #back {
        max-width: 20px;
        top: 10px; 
        left: 10px; 
        position: fixed;
    }
}
