@charset "UTF-8";
*{
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(imagens/wood.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 80%;
    position: relative;
    max-width: 500px;
}

form button, form input {
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
}

form input {
    margin-top: 5%;
}

form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(imagens/paper.webp);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: -1;
}

header {
    background-color: rgba(255, 255, 255, 0.473);
    width: 100%;
    text-align: center;
    justify-content: center;
    max-width: 100%;
}

.tarefas {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.473);
}

.tarefas p {
    margin-top: 1.5em;
}



main {
    margin-top: 10px;
    width: 80%;
    height: calc(100% - 250px);
    max-width: 100%;
    overflow: hidden;

}

del {
    color: green;
}
nav{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    box-sizing: border-box;
}
#back{
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px; 
    padding: 2px;
}
#buttons button{
    cursor: pointer;
}
.tarefas input[type="checkbox"] {
    /* Ajusta o tamanho dos checkboxes */
    transform: scale(1.5);
    margin-right: 10px; /* Adiciona espaço à direita dos checkboxes */
}

@media screen and (max-width: 600px) {
    .tarefas input[type="checkbox"] {
        margin-left: 25px; /* Ajusta a margem direita dos checkboxes */
    }

    .tarefas p {
        margin-right: 50px; /* Ajusta a margem direita dos parágrafos para acompanhar os checkboxes */
    }
    main{
    height: calc(100% - 200px);
    overflow: hidden;
    }
    input[type="text"]{
        width: 80%;
    }
}
@media screen and (max-width: 400px) {
    main{
        height: calc(100% - 250px);
        overflow: hidden;
        }
        input[type="text"]{
            width: 80%;
        }
}
@media screen and (max-width:320px) {
    main{
        height: calc(100% - 40vh);
    }
}